body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

#top {
	position: absolute;
	top: 0;
	left: 0;
}

#arrow {
	position: fixed;
	bottom: 0;
	padding: 10px;
	font-size: 20px;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-family: "Arial Unicode MS";
}

#arrow a { text-decoration: none }

img, iframe {
    border: none;
}

/*////////////////////////////////////////////////*/

#bar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 25%;
}

#header {
	margin-top: 70px;
    text-align: center;
	width: auto;
	position: relative;
	z-index: 2;
}

#header p {
    display: table-column;
    clear: right;
    margin: 0px 10px;
    font-size: 16px;
}

#header p:nth-child(odd) {
	float: right;
	padding-right: 10px;
}

#header p:nth-child(even) {
	float: left;
	padding-left: 10px;
}

#header .meta { margin-top: 20px; }
#header .meta a { padding: 0 10px; }
#header .meta a:nth-child(odd) { float: right; }
#header .meta a:nth-child(even) { float: left; }
#header a { text-decoration: none; }
#header a:hover { text-decoration: underline; }

.spacer { clear: both; }

#widgets {
    position: absolute;
    bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#widgets > div {
    margin-top: 20px;
    padding: 5px 25px;
    clear: both;
}

#search {
    max-width: 250px;
    text-align: center;
}

#tweets {
	text-align: left;
	height: 150px;
	padding: 0 10px;
	margin-bottom: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}
#tweets p { margin: 5px 0; }
#tweets a { text-decoration: none; }
#tweets a:hover { text-decoration: underline; }

#following img {
	margin: 3px;
	padding: 3px;
}

#about img{
    float: left;
    padding: 0 10px 10px 0;
}

.copyright { font-size: 12px; }

#copyright {
    display: none;
    padding: 0 20px;
    text-align: center;
}

#content {
	position: absolute;
    width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 0 50px 50px;
}

/*////////////////////////////////////////////////*/

.card {
    margin: 20px;
}

.card .tags {
    font-style: italic;
    text-align: right;
    padding: 10px 20px 10px 70px;
}

.card .tags a {
    text-decoration: none;
}
.card .tags a:hover { text-decoration: underline; }

.card .meta {
    height: 20px;
    padding: 5px;
}

.card .meta p { margin: 0; }

.left {
    float: left;
    vertical-align: top;
    padding-left: 10px;
}

.right {
    float: right;
    padding-right: 10px;
}

#notes {
    padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#notes ol {
    list-style-type: none;
    padding-left: 10px;
}

#notes h2 { margin: 0; }
#notes .note { padding: 5px 0; }
.avatar_frame { padding-right: 3px; vertical-align: sub; }

#nav {
    width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:  50px 50px 50px 50px;;
    font-size: 20px;
    text-align: center;
}

/*////////////////////////////////////////////////*/

.card .text{ padding: 0 20px 0 20px; }
.card .text blockquote { margin: 0px; }
.card .text table { margin-top: 20px; }

.card .link h3, .card .quote h3 { text-align: center; }
.card h3 .small { font-size: 12px; }

.card .audio iframe { height: 75px; width: 100%; }
.soundcloud_audio_player { height: 130px; width: 100%; }
.card .video iframe { height: 200px; }
.card .text .source { font-style: italic; }

.card .text .chat { list-style-type: none; padding: 0; }
.card .text .chat li { padding: 5px 0; }
.card .text .chat .label { font-weight: bold; }

.card img { width: 100%; display: block; }
.card img.avatar { width: auto; display: inherit; }
        
iframe { width: 100%; }
iframe.like_toggle { width: 15px; }

.like_button, .reblog_button { display: inline-block !important; padding-right: 5px; }

/*////////////////////////////////////////////////*/

@media (max-width: 992px) {
    #bar {
        position: static;
        width: 100%;
        padding: 40px 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        max-width: none;
    }
    #header, #widgets { margin: 10px auto; }
    #header {
        position: static;
        overflow: auto;
    }
    #widgets {
        position: static;
        text-align: left;
    }
    #widgets div{
        position: static;
        display: block;
    }
	#widgets > div { float: none; text-align: left; }
    #about img { float: left; }
    #content, #nav {
        width: 100%;
        padding: 10px 30px 20px 30px;
    }
    #search { max-width: none; }
    #nav .prev { float: none; padding-right: 5px; }
    #nav .next { float: none; padding-left: 5px; }
    .card {
		margin: 10px;
		right: 30px;
	}
}

@media (max-height: 600px) {
	#widgets { display: none; }
}
